@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Safitrie</h1>
    <p>Tetap Semangat Jangan Menyerah</a></p>
    <p>Username: @ViewBag.username</p>
    <ul>Fruits:
        @foreach (var fruit in ViewBag.fruits)
        {
            <li>@fruit</li>

        }
    </ul>
</div>
